

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10;
    padding: 10;
}

button1 {
    padding: 5px;
    margin: 20px,0px,0px,0px;
}
